html{
    background-color: lightskyblue;
}
h1{
    text-align: center;
}
label{
    font-size: 24px;
}
form{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    margin-top: 15%;
    display:block;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
